/* this is the wire framing part of styling to centralize the header, navigation, main content section, common page desing, footer and other generic global components */
@import 'theme.css';

body, nav, header, footer {
    margin:auto;
    min-width: 360px;
}
.page-content {
    margin-top: 80px;
    min-height: 80vh;
}